<title>Build & Price</title>
<div class="buildheader" style="opacity: 1">
<h1>Build & Price</h1>
<h2>YOUR SAVED SUBARU</h2>
</div>
<div class="buildbody" onload="myFunction()" ng-controller="buildCtrl">
<div class="choose">
  <h3>Choose a Subaru to Build</h3>
  <div class="yearselector">
  <!-- <h1>CURRENT YEAR</h1><h1>PREVIOUS YEAR</h1> -->
</div>
</div>
<div class="vehiclecardscon">
<div class="modelcon" ng-repeat="car in cars">
  <div class="modeldetcon">
  <div class="modelimg" style="background: url({{car.buildimg2}})no-repeat center; -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover">
    <!-- <img src="{{car.buildimg2}}"> -->
    <div class="views">
    <div class="viewselect">EXTERIOR</div>
    <div class="viewselect">INTERIOR</div>
    </div>
  </div>


  <div class="modelequip">
      <div class="subinfo">
        <div class="subinfocar">
          <h3>{{car.year}} {{car.model}}</h3>
        </div>
        <div class="subinfoprice">
          <h4>Starting at</h4>
          <h4>{{car.price}}*</h4>
        </div>
        <div class="subinfompg">
          <h4>mpg up to</h4>
          <h4>{{car.hmpg}}/{{car.cmpg}}**</h4>
        </div>

      </div>
      <div class="carfeat">
        <h1>
          <li>{{car.feature1}}</li>
          <li>{{car.feature2}}</li>
          <li>{{car.feature3}}</li>
          <li>{{car.feature4}}</li>
        </h1>
      </div>
    <div class="bottomcontent">
      <div class="modelbutton" id="accolades" ui-sref="accolades" style="border-right: 2px #EFEFEF solid">ACCOLADES</div>
      <div class="modelbutton" id="compare">COMPARE</div>
      <div class="modelbutton" id="build" ui-sref="cart({vehicle: car._id})">BUILD</div>
    </div>
  </div>
</div>
</div>
</div>
<div class="Outback"></div>

<div class="Forest"></div>

<div class="Crosstrek"></div>

<div class="WRX"></div>

<div class="BRZ"></div>
<script>
var myVar;

function myFunction() {
    myVar = setTimeout(showPage, 3000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>

</div>
