<title>Build & Price</title>
<div class="buildheader" style="opacity: 1">
<h1>Build & Price</h1>
<h2>YOUR SAVED SUBARU</h2>
</div>
<div class="buildbody">
<div class="choose">
  <h3>Choose a Subaru to Build</h3>
  <div class="yearselector">
  <h1>CURRENT YEAR</h1><h1>PREVIOUS YEAR</h1>
</div>
</div>

<div class="modelcon" ng-repeat="car in cars">
  <div class="modeldetcon">
  <div class="modelimg" style="background: url({{car.buildimg2}})">
    <!-- <img src="{{car.buildimg2}}"> -->
    <div class="views">
    <div class="viewselect">EXTERIOR</div>
    <div class="viewselect">INTERIOR</div>
    </div>
  </div>


  <div class="modelequip">
      <div class="subinfo"><h3>{{car.year}}{{car.model}}{{car.price}}{{car.hmpg}}{{car.cmpg}}</h3></div>
    <h1>
      <li>{{car.feature1}}</li>
      <li>{{car.feature2}}</li>
      <li>{{car.feature3}}</li>
      <li>{{car.feature4}}</li>
    </h1>
    <div class="bottomcontent">
      <div class="modelbutton" ui-sref="accolades" style="border-right: 2px #EFEFEF solid">ACCOLADES</div>
      <div class="modelbutton" id="compare">COMPARE</div>
      <div class="modelbutton" id="build" ui-sref="cart({vehicle: car._id})">BUILD</div>
    </div>
  </div>
</div>
</div>

<div class="Outback"></div>

<div class="Forest"></div>

<div class="Crosstrek"></div>

<div class="WRX"></div>

<div class="BRZ"></div>
</div>
