<title>Build & Price</title>
<img class="cartbackground" style="background: url('{{vehicle.cartback}}') no-repeat center center;">
<div class="title">
  <div><h1>Build & Price {{vehicle.model}}</h1></div>
  <div class="change"><h3>CHANGE VEHICLE</h3></div>
</div>
<body>
  <div class="cartmain" >
    <div class="update" type="text" name="update" ng-model="item">

    <div class="options">
      <div class="finalbuild">
        <div id="price" class="builddets"><h1>${{vehicle.cost}}</h1></div>
        <div id="testd" class="builddets">SCHEDULE</div>
        <div id="checkout" class="builddets">CHECKOUT</div>
      </div>
      <h1>Transmission</h1>
    <div class="transmition">
        {{vehicle.transmission}}
        {{vehicle.tranimg}}
        <!-- {{vehicle.transdesc}} -->

    </div>

    <h3>EXTERIOR</h3>
    <div class="color" ng-repeat="color in colors" style="background-color: {{color}}"></div>
    {{color}}

    <h3>INTERIOR</h3>
    <div class="leather" ng-repeat="int in ints" style="background: url('{{int}}');">
    </div>


    <h1>Packages</h1>

    <div class="packages">
        {{int}}
    </div>

    <h1>Accessories</h1>

    <div class="accessories">
      <div class="accessory" ng-repeat="accessory in accessories">
        <h4>{{accessory.accessory}}</h4>
      </div>
    </div>

    <h5>Manufacturer's suggested retail price for accessories installed by the manufacturer. Actual <br>
      prices for retailer installed accessories may vary.</h5>

    <h5>	Package and accessories prices do not include installation costs. Actual price is set by <br>
      retailer and may differ based on local installation labor costs.</h5>

    <h1>Summary</h1>
    <div class="summary">
      <h5>{{vehicle.model}}</h5>
    </div>

    <h1>Shop {{vehicle.model}}</h1>
<div class="shopcon">
    <div class="shop">
      <h5>LOCAL INVENTORY</h5>
    </div>
    <div class="shop">
      <h5>SPECIAL OFFERS</h5>
    </div>
    <div class="shop">
      <h5>APPLY FOR FINANCING</h5>
    </div>
</div>
    <h5>Legal Disclaimers</h5>

    </div>

  <button class="change" ng-click="changeData( { id : data.text_id , newtask: item }, $index )"> Change Task</button>
    </div>

    <div class="foot">
      <div class="viewcon">
      <div id="int" class="view"><h3>EXTERIOR</h3></div>
      <div id="ext" class="view"><h3>INTERIOR</h3></div>
      <div id="fron" class="view"><h3>FRONT</h3></div>
      <div id="ang" class="view"><h3>ANGLE</h3></div>
      <div id="sid" class="view"><h3>SIDE</h3></div>
      <div id="back" class="view"><h3>BACK</h3></div>
      </div>
    </div>

</body>
