<title>Subaru Cars, Sedans, SUVs, Crossovers, Wagons | Subaru of America</title>
<!-- <div class="front">
  <div class="special">SEE SPECIAL OFFERS</div>
  <div class="frontlinks">
    <a><h1>2017 IMPREZA</h1></a>
    <a><h1>SPECIAL OFFERS</h1></a>
    <a><h1>AWARDS</h1></a>
  </div>

</div> -->
<div id="frontcont" class="frontcontainer" style="width:100%;" ng-click="boxCloser()">
<div id="myCarousel" class="carousel slide front" data-ride="carousel">
          <ul class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="3" class="active"></li>
          </ul>

        <div class="carousel-inner">

          <div class="item active front" style="margin: 10px 0;">
            <img src="./assets/imgs/bigoutbackback.jpg" style="width:100%; position: absolute;">
            <div class="fronttext">
              <h1>Get great offers on 2017 forester & Outback<br>
              Legacy, and Crosstrek models
              </h1>
            </div>
          <div class="special">
            <a><h4>SEE SPECIAL OFFERS</h4></a>
          </div>
          <div class="frontlinks">
            <a><h1>2017 Forester</h1></a>
            <a><h1>SPECIAL OFFERS</h1></a>
            <a><h1>AWARDS</h1></a>
          </div>
          </div>
          <div class="item">
            <img src="./assets/imgs/crosstrekrain.jpg" alt="out" style="width:100%;">
          </div>

          <div class="item">
            <img src="./assets/imgs/learnWRX.jpg" alt="wrx" style="width:100%;">
          </div>

          <div class="item">
            <img src="./assets/imgs/water.jpg" alt="New york" style="width:100%;">
          </div>

          <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a> -->

        </div>
</div>
</div>

<div class="cars">

  <div class="car" ng-repeat= "car in cars" ui-sref="vehicles({vehicle: car._id})">
    <div class="cardiv">
    <h2>{{car.model}}</h2>
    <img class="carbut" src="{{car.icon}}">
    <div>
      <h3>starting at <span style="color: #414141;">{{car.price}}</span></h3>
    </div>
    </div>

  </div>
</div>

<div class="tools">
  <h1>SHOPPING TOOLS</h1>
  <div class="tool" ui-sref="build"><img class="toolicon" src="./assets/imgs/nut.PNG"><a ui-sref="build"><b>BUILD YOUR OWN</b></a></div>
  <div class="tool"><img class="toolicon" src="./assets/imgs/dollar.PNG"><b>SPECIAL OFFERS</b></div>
  <div class="tool"><img class="toolicon" src="./assets/imgs/caricon.PNG"><b>LOCAL INVENTORY</b></div>
  <div class="tool"><img class="toolicon" src="./assets/imgs/dollarbubble.PNG"><b>GET A LOCAL PRICE</b></div>
</div>

<div class="promise">
<div class="love"></div>
<div class="tslp">
  <h2>THE SUBARU LOVE PROMISE</h2>
  <h3>Subaru and its retailers believe in making the world a better place and the Subaru Love Promise is our vision
    of respecting all people. This is our promise to show love and respect to our customers and to work to make
     a positive impact in the world.
   </h3>
   <button class="learn">LEARN MORE</button>
</div>
</div>

<div class="content">
  <div id="left" class="fma3"><p>Subaru is 2017 Top Brand for Residual Value according to ALG</p></div>
  <div id="mid" class="fma3"><p>The Newly Redesigned 2018 Outback</p></div>
  <div id="right" class="fma3"><p>Introducing the REdesigned 2018 Subaru WRX & WRX STI</p></div>

  <div id="lef" class="fma2"><p>Meet real owners and see how a Subaru can fit your life</p></div>
  <div id="rig"class="fma2"></div>
</div>

<div class="backtotop" id="myBtn" title="Go to top">
  <div class="textwrapper">
    <a>
    <div class="topscroller" onclick="topFunction()">
    <span class="arrowimg" style="color: white"></span>
      <h3>BACK TO TOP</h3>
    </div>
    </a>
  </div>
</div>

      <div class="footer">
        <div id="global_footer" class="text-left foundation-5">
          <!-- footer navigation responsive - small-only -->
          <div class="rowcollapse" data-equalizer="footer-nav">
                      <div class="footerlist large-2 columns" data-equalizer-watch="footer-nav" style="height: 262px;">
                          <div class="col1 footersub"><h3>Explore Subaru</h3>
          <ul>
              <li><a href="/vehicles/index.html" target="_parent" class="ui-link">Vehicles</a></li><li><a href="/shopping-tools/get-brochure.html" target="_parent" class="ui-link">View a Brochure</a></li><li><a href="/why-subaru/all-things-subaru.html" target="_parent" class="ui-link">All Things Subaru</a></li><li><a class="ui-link" href="/build-your-own.html" target="_parent">Build &amp; Price</a></li><li><a href="/shopping-tools/compare-vehicles/index.html" target="_parent" class="ui-link">Compare Vehicles</a></li><li><a href="/find-retailer/index.html" target="_parent" class="ui-link">Find a Retailer</a></li><li><a href="/vehicles/certified-pre-owned.html" target="_parent" class="ui-link">Certified Pre-Owned</a></li><li><a href="/site-map/index.html" target="_parent" class="ui-link">Site Map</a></li></ul>

          </div>
          </div>
                      <div class="footerlist large-2 columns" data-equalizer-watch="footer-nav" style="height: 262px;">
                          <div class="col2 footersub"><h3>Enthusiasts</h3>
          <ul>
              <li><a href="/why-subaru/dear-subaru.html" target="_parent" class="ui-link">Dear Subaru</a></li><li><a href="/enthusiasts/rally.html" target="_parent" class="ui-link">Motorsports</a></li><li><a href="/why-subaru/events.html" target="_parent" class="ui-link">Events</a></li><li><a href="/pets/index.html" target="_parent" class="ui-link">Subaru Loves Pets</a></li><li><a href="/enthusiasts/gear/index.html" target="_parent" class="ui-link">Subaru Gear</a></li><li><a href="http://drive.subaru.com/" target="_blank" class="ui-link">Drive Magazine</a></li><li><a href="http://dp.subaru.com/" target="_blank" class="ui-link">Drive Performance</a></li><li><a href="https://www.badgeofownership.com/" target="_blank" class="ui-link">Badge of Ownership</a></li></ul>

          </div>
          </div>
                      <div class="footerlist large-2 columns" data-equalizer-watch="footer-nav" style="height: 262px;">
                          <div class="col3 footersub"><h3>Company</h3>
          <ul>
              <li><a href="/company/index.html" target="_parent" class="ui-link">About Subaru</a></li><li><a href="/company/careers/index.html" target="_parent" class="ui-link">Careers</a></li><li><a href="/why-subaru/partnerships.html" target="_parent" class="ui-link">Partnerships</a></li><li><a href="/company/news/index.html" target="_parent" class="ui-link">News</a></li><li><a href="/camden.html" target="_parent" class="ui-link">New Camden Home</a></li></ul>

          </div>
          </div>
                      <div class="footerlist large-2 columns" data-equalizer-watch="footer-nav" style="height: 262px;">
                          <div class="col4 footersub"><h3>Responsibility</h3>
          <ul>
              <li><a href="/csr/corporate-social-responsibility.html" target="_parent" class="ui-link">Corporate Responsibility</a></li><li><a href="/csr/philosophy.html" target="_parent" class="ui-link">Philosophy</a></li><li><a href="/csr/community.html" target="_parent" class="ui-link">Community</a></li><li><a href="/csr/diversity.html" target="_parent" class="ui-link">Diversity</a></li><li><a href="/csr/soa-foundation.html" target="_parent" class="ui-link">SOA Foundation</a></li><li><a href="/csr/environment-sustainability.html" target="_parent" class="ui-link">Environment</a></li><li><a href="/love-promise.html" target="_parent" class="ui-link">Love Promise</a></li></ul>

          </div>
          </div>
                      <div class="footerlist large-2 columns" data-equalizer-watch="footer-nav" style="height: 262px;">
                          <div class="col5 footersub"><h3>Owners</h3>
          <ul>
              <li><a href="http://www.mysubaru.com/" target="_blank" class="ui-link">MySubaru</a></li><li><a href="/owners/index.html" target="_parent" class="ui-link">Resource Center</a></li><li><a href="/owners/ownership-benefits.html" target="_parent" class="ui-link">Benefits of Ownership</a></li><li><a href="/service-parts-accessories/index.html" target="_parent" class="ui-link">Service, Parts &amp; Accessories</a></li><li><a href="/guaranteed-trade-in-program/index.html" target="_parent" class="ui-link">Guaranteed Trade-In Program</a></li><li><a href="/vehicle-recalls.html" target="_parent" class="ui-link">Vehicle Recalls</a></li></ul>

          </div>
          </div>
                      <div class="footerlist large-2 columns" data-equalizer-watch="footer-nav" style="height: 262px;">
                          <div class="col6 footersub"><h3>Other Sites</h3>
          <ul>
              <li><a href="https://www.chase.com/business-banking/dealer-services/subaru-motors-finance" target="_blank" class="ui-link">Subaru Motors Finance</a></li><li><a href="http://www.subaru-global.com/home.html" target="_blank" class="ui-link">Subaru Global</a></li><li><a href="http://subarupower.com/" target="_blank" class="ui-link">Subaru Power Products</a></li><li><a href="http://techinfo.subaru.com/index.html" target="_blank" class="ui-link">STIS</a></li><li><a href="/parts-service/index.html" target="_parent" class="ui-link">Order Subaru Parts</a></li><li><a href="/fleet/index.html" target="_parent" class="ui-link">Subaru Fleet</a></li></ul>

          </div>
          </div>
                  </div>

          <!-- <div class="small-only">
              <footer>

              </footer>
          </div> -->


  </div>

  </main>
