<body>
<h1 style="height: 25px; width: 350px; color: #0073B1; top: 300px; margin: auto; position: relative; ">COMMING SOON!</h1>

<!-- <div id="carheader" class="carheader">
<img class="vimg">
<h4>{{vehicle.year}} {{vehicle.model}}</h4>
<h4>{{vehicle.price}} starting MSRP</h4>
<h4>{{vehicle.hmpg}}/{{vehicle.cmpg}}** MPG Up to</h4>

<div class="carheaderitems">
  <div id="overview" class="caritem">Overview</div>
  <div class="caritem">Gallery</div>
  <div class="caritem">Features</div>
  <div class="caritem">Accolades</div>
  <div class="caritem">models</div>

</div>
<div id="shopcar"><h4>Shop {{vehicle.model}}</h4></div>

</div>
<div class="carmain" style="color: #FAFAFA;">
  <h1>
    <ul>{{vehicle.model}}</ul>
    <ul>
      <ul>{{vehicle.year}}</ul>
      <ul>{{vehicle.price}}</ul>
      <ul>{{vehicle.description}}</ul>
      <ul>{{vehicle.feature1}}</ul>
      <ul>{{vehicle.feature2}}</ul>
      <ul>{{vehicle.feature3}}</ul>
      <ul>{{vehicle.feature4}}</ul>
    </ul>
  </h1>
</div> -->
</body>
