.footerlist
  height: auto
  width: auto
  // border: 1px solid white
  display: inline-block
  margin: 10px

.footerlist a
  color: white
  font-family: sans-serif
  text-decoration: none

.footersub
  position: relative
  font-family: sans-serif

// .ty
//   height: 200px
//   width: 500px
//   background-color: green
//   opacity: .8
//   color: green
//   position: absolute
//   top: -200px
