
@media only screen and (max-width:650px)
  #top
    display: none
  #white
    top: 0px
  #centermenu
    background-color: grey
    display: none
  .items
    display: none
  .front
    margin-top: 60px important
