html {
  margin: 0;
}

body {
  margin: 0;
  display: grid;
}


.white {
  position: relative;
  margin: 0;
  top: 38px;
  border-bottom: 1px black;
  height: 58px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: auto;
  z-index: 1
}

.itemscon {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 30px;
  width: 550px;
  float: right;
  border: 1px white solid;
 }

.topitems {
  height: 30px;
  width: 115px;
  margin: 0;
  position: relative;
  display: inline-block;
  text-align: center;
}

.subaruhome {
  margin: 11px 0 0 23px;
  position: relative;
	background: url('../assets/imgs/siteimgs.PNG') no-repeat -1px 0;
	width: 150px;
	height: 40px;
  border: none;
}

.centermenu {
  position: relative;
  display: flex;
  height: 25px;
  width: 500px;
  margin: 0 auto;
  bottom: -30px;
}

.items {
  margin: 0;
  height: 25px;
  width: 150px;
  font-size: 16px;
  font-family: sans-serif;
  display: inline-block;
  text-align: center;
  background-color: white;
  border: none;
  bottom: 5;
}

.sideitems {
  height: 30px;
  width: 320px;
  position: relative;
  display: flex;
  border: 1px solid black;
  justify-content: flex-end;
}

.side {
  height: 30px;
  width: 150px;
  display: flex;
  flex-direction: row;
}

.side h4 {
  font-size: 12px;
  margin-left: 5px;
}

.byo {
  background: url("../assets/imgs/byo.gif");
  height: 30px;
  width: 30px;
}

.byo:hover {
  background: url("../assets/imgs/byo.gif") -30px;
  height: 30px;
  width: 30px;
}

.fad {
  background: url("../assets/imgs/fad.gif");
  height: 30px;
  width: 30px;
}

.fad:hover {
  background: url("../assets/imgs/fad.gif") -30px;
  height: 30px;
  width: 30px;
}

.footersociallinks {
  position: relative;
}
.brz {
    height: 855px;
    width: auto;
    position: relative;
    top: 96px;
    background: url("../assets/imgs/outback.JPG") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

/*.social {
  background: url('../assets/imgs/fb.jpg');
  background-color: blue;
  height: 35px;
  width: 35px;
}*/


.small-only {
  display: none;
}

.ui-link {
  position: relative;
  display: inline-flex;
}

.zip_modal_input {
  display: none;
}

p {
  height: auto;
  width: auto;
  display: none;
}

.map_search_input {
  display: none;
}

.change_retailer_modal {
  display: none;
}

.zip_code.far_zipCode {
  display: none;
}
