.links
  height: 200px
  width: 1130px
  background-color: white

.frontlinks
  height: 30px
  width: 300px
  position: relative
  font-size: 14px
  color: white
  background-color: blue
  opacity: .8
  bottom: 400px
  margin: 0 200px

// .frontlinks a
//   margin: auto


.front
  height: 855px
  width: auto
  position: relative
  top: 96px
  background: url("../assets/imgs/outback.JPG") no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  z-index: 0
  //-o-background-size: cover
